@media screen and (max-width: 768px) {
    .navbar-brand img {
        height: 40px
    }

    .navbar {
        padding: 15px 0px !important
    }

    .hero-feature-list {
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .hero-feature-item-content {
        width: auto
    }

    .hero-feature-item {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        display: flex
    }

    .footer-logo-prime img {
        max-width: 100px
    }
}